pytest-cov~=6.2.1
responses~=0.25.7
openwisp-utils[qa,selenium,channels,channels-test] @ https://github.com/openwisp/openwisp-utils/tarball/1.2

git+https://github.com/Insatroute/openwisp-utils.git@main#egg=openwisp_utils[qa,selenium,channels,channels-test]
